<div class="flex flex-row items-center justify-between bg-white px-6 sm:px-12 py-3">
    <div class="flex flex-row items-center justify-start gap-3">
        <img class="h-15" src="images/logo_lba.svg">
        LBA - Data Analysis
    </div>
    <div class="flex flex-row items-center justify-end">
        <button mat-flat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
            My account
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
        </mat-menu>
    </div>
</div>

<div class="flex-1 sm:overflow-y-hidden">
    <router-outlet></router-outlet>
</div>
