<div class="card w-full h-full">
    <div class="card-title flex flex-row items-center justify-between !py-3 !pr-3">
        <div class="text-lg font-bold">
            {{ dashboardCard.title }}
        </div>
        @if (edit) {
            <div class="flex flex-row items-center">
                <button mat-icon-button (click)="editCardSettings()">
                    <mat-icon class="!text-white">settings</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCard()">
                    <mat-icon class="!text-white">delete</mat-icon>
                </button>
            </div>
        }
    </div>
    <div class="card-content w-full h-full">
        @if (dashboardCard.card_id) {
            <grafic-card
                [dashboardCard]="dashboardCard"
                [dashboardCardSettings]="dashboardCardSettings"
                [gameIds]="gameIds"
                [playerId]="playerId"
            ></grafic-card>
        }
        @else {
            <div class="flex flex-col items-center justify-center bg-white rounded p-6">
                <div class="text-center">
                    No template found.
                </div>
                <div class="text-gray-500 text-sm text-center">
                    The card "{{ dashboardCard.card_id }}" is not yet implemented.
                </div>
            </div>
        }
    </div>
</div>
