<div class="page">

    <div class="page-header">
        <div class="title">
            404
        </div>
        <div class="subtitle">
            Not found.
        </div>
    </div>

    <div class="flex flex-col items-center justify-center p-6 sm:p-8">
        <div class="text-center">
            Sorry, we couldn't find this page.
        </div>
        <div class="text-gray-500 text-sm text-center">
            But dont worry, you can find plenty of other things on our homepage.
        </div>
        <a mat-flat-button class="mt-6" [routerLink]="['/pages/home']">
            Back to home
        </a>
    </div>

</div>
