<div class="page">

    <div class="page-header">
        <div class="title">
            HOME
        </div>
        <div class="subtitle">
            From here you can navigate through all the pages of the application.
        </div>
    </div>

    <div class="page-content">

        <div class="max-w-7xl mx-auto">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <a class="card group cursor-pointer" [routerLink]="['/pages/dashboards']">
                    <div class="text-center text-xl font-bold p-6">
                        Dashboard
                    </div>
                    <div class="w-full h-80 overflow-hidden bg-gray-200">
                        <img [src]="'images/stock/dashboard.jpg'" class="group-hover:scale-120 grayscale group-hover:grayscale-0 transition-all">
                    </div>
                    <div class="flex flex-row items-center justify-end p-6">
                        <button mat-flat-button>
                            <mat-icon>arrow_forward</mat-icon>
                            Go to Dashboard
                        </button>
                    </div>
                </a>

                <div class="card">
                    <div class="text-center text-xl font-bold p-6">
                        Analysis
                    </div>
                    <div class="flex flex-row divide-x h-full">
                        <div class="flex flex-col border-t border-b divide-y border-gray-200 divide-gray-200 w-full h-full overflow-hidden">
                            <a class="flex flex-row items-center group hover:bg-gray-100 h-1/2 cursor-pointer" [routerLink]="['/pages/games']">
                                <div class="flex flex-col items-between justify-between h-full p-6">
                                    <div>
                                        <div class="text-xl font-bold">
                                            Games
                                        </div>
                                        <div>
                                            Dive deep into match analysis with advanced statistics and insights.
                                        </div>
                                    </div>
                                    <div class="flex flex-row items-center justify-end">
                                        <button mat-flat-button>
                                            <mat-icon>arrow_forward</mat-icon>
                                            Go to Games
                                        </button>
                                    </div>
                                </div>
                            </a>
                            <a class="flex flex-row items-center group hover:bg-gray-100 h-1/2 cursor-pointer" [routerLink]="['/pages/teams']">
                                <div class="flex flex-col items-between justify-between h-full p-6">
                                    <div>
                                        <div class="text-xl font-bold">
                                            Teams
                                        </div>
                                        <div>
                                            Dive deep into match analysis with advanced statistics and insights.
                                        </div>
                                    </div>
                                    <div class="flex flex-row items-center justify-end">
                                        <button mat-flat-button>
                                            <mat-icon>arrow_forward</mat-icon>
                                            Go to Teams
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="flex flex-col border-t border-b divide-y border-gray-200 divide-gray-200 w-full h-full overflow-hidden">
                            <a class="flex flex-row items-center group hover:bg-gray-100 h-1/2 cursor-pointer" [routerLink]="['/pages/players']">
                                <div class="flex flex-col items-between justify-between h-full p-6">
                                    <div>
                                        <div class="text-xl font-bold">
                                            Players
                                        </div>
                                        <div>
                                            Dive deep into match analysis with advanced statistics and insights.
                                        </div>
                                    </div>
                                    <div class="flex flex-row items-center justify-end">
                                        <button mat-flat-button>
                                            <mat-icon>arrow_forward</mat-icon>
                                            Go to Players
                                        </button>
                                    </div>
                                </div>
                            </a>
                            <a class="flex flex-row items-center group hover:bg-gray-100 h-1/2 cursor-pointer" [routerLink]="['/pages/lineups']">
                                <div class="flex flex-col items-between justify-between h-full p-6">
                                    <div>
                                        <div class="text-xl font-bold">
                                            Lineups
                                        </div>
                                        <div>
                                            Dive deep into match analysis with advanced statistics and insights.
                                        </div>
                                    </div>
                                    <div class="flex flex-row items-center justify-end">
                                        <button mat-flat-button>
                                            <mat-icon>arrow_forward</mat-icon>
                                            Go to Lineups
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <a class="card group cursor-pointer" [routerLink]="['/pages/live']">
                    <div class="text-center text-xl font-bold p-6">
                        Live
                    </div>
                    <div class="w-full h-80 overflow-hidden bg-gray-200">
                        <img [src]="'images/stock/live.jpg'" class="group-hover:scale-120 grayscale group-hover:grayscale-0 transition-all">
                    </div>
                    <div class="flex flex-row items-center justify-end p-6">
                        <button mat-flat-button>
                            <mat-icon>arrow_forward</mat-icon>
                            Go to Live
                        </button>
                    </div>
                </a>

                <a class="card group cursor-pointer" [routerLink]="['/pages/scouting']">
                    <div class="text-center text-xl font-bold p-6">
                        Scouting
                    </div>
                    <div class="w-full h-80 overflow-hidden bg-gray-200">
                        <img [src]="'images/stock/scouting.jpg'" class="group-hover:scale-120 grayscale group-hover:grayscale-0 transition-all">
                    </div>
                    <div class="flex flex-row items-center justify-end p-6">
                        <button mat-flat-button>
                            <mat-icon>arrow_forward</mat-icon>
                            Go to Scouting
                        </button>
                    </div>
                </a>

            </div>

        </div>

    </div>

</div>
