<div class="page">

    <div class="page-header">
        <div class="title">
            HOME
        </div>
        <div class="subtitle">
            From here you can navigate through all the pages of the application.
        </div>
    </div>

    <div class="page-content">

        <div class="max-w-7xl mx-auto">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                @for (item of items; track $index) {
                    <a class="card group cursor-pointer" [routerLink]="[item.link]">
                        <div class="text-center text-xl font-bold p-6">
                            {{ item.title }}
                        </div>
                        <div class="w-full h-80 overflow-hidden bg-gray-200">
                            <img [src]="item.image" class="group-hover:scale-120 grayscale group-hover:grayscale-0 transition-all">
                        </div>
                        <div class="p-6">
                            {{ item.subtitle }}
                        </div>
                        <div class="flex flex-row items-center justify-end p-6 pt-0">
                            <button mat-flat-button>
                                <mat-icon>arrow_forward</mat-icon>
                                Go to {{ item.title }}
                            </button>
                        </div>
                    </a>
                }
            </div>

        </div>

    </div>

</div>
