@if (loading) {
<div class="absolute justify-center w-full h-full z-10">
    <div class="absolute w-full h-full bg-gray-100 opacity-50 z-20"></div>
    <mat-spinner class="z-30 m-auto mt-12"></mat-spinner>
</div>
}

@if (dashboardCard.card_id === 'LINEUP') {
<div class="overflow-auto w-full h-full">
    <table class="lba-table border-collapse min-w-max w-full">
        <thead>
            <tr class="border-b border-gray-300">
                @for (m of minuti; track m) {
                <th class="px-4 text-center border-r border-gray-300">{{ m.minute }}</th>
                }
            </tr>
        </thead>
        <tbody>
            <!-- Riga Team A -->
            <tr class="border-b border-gray-100 hover:bg-gray-50">
                @for (m of minuti; track m) {
                <td class="whitespace-nowrap px-1 py-2 border-r border-gray-300">
                    <div class="flex flex-col items-center gap-1">
                        @if (m.teamA_players.length > 0) {
                        <!-- TEAM A -->
                        @for (p of m.teamA_players; track $index) {
                        <img class="w-10 h-10 rounded-full" [class.ring-2]="p.entered" [class.ring-green-400]="p.entered"
                            [src]="p.logo_url" [title]="p.name + ' ' + p.surname">
                        }
                        }
                    </div>
                </td>
                }
            </tr>

            <!-- Riga grafico (colspan 40)
            <tr class="border-b border-gray-200">
                <td [attr.colspan]="minuti.length">
                    <div echarts [options]="chartOption" [autoResize]="true" class="w-full h-60"></div>
                </td>
            </tr> -->

            <!-- Riga Team B -->
            <tr class="border-b border-gray-100 hover:bg-gray-50">
                @for (m of minuti; track m) {
                <td class="whitespace-nowrap px-1 py-2 border-r border-gray-300">
                    <div class="flex flex-col items-center gap-1">
                        @if (m.teamB_players.length > 0) {
                        <!-- TEAM B -->
                        @for (p of m.teamB_players; track $index) {
                        <img class="w-10 h-10 rounded-full" [class.ring-2]="p.entered" [class.ring-green-400]="p.entered"
                            [src]="p.logo_url" [title]="p.name + ' ' + p.surname">
                        }
                        }
                    </div>
                </td>
                }
            </tr>
        </tbody>
    </table>
</div>
}
@else if (dashboardCard.card_id?.substring(0,5) !== 'TABLE'){
    <div echarts [options]="chartOption" [autoResize]="true" class="w-full h-full"></div>
}
@else {
<div class="overflow-auto w-full h-full">
    <table class="lba-table border-collapse min-w-max w-full">
        <thead>
            <tr class="border-b border-gray-300">
                <th class="min-w-[250px] text-left border-r border-gray-300">Items</th>
                @if (dashboardCard.card_id === 'TABLE_LINEUP_TEAM') {
                    <th class="px-4 text-center border-r border-gray-300">MIN</th>
                }
                @for (stat of statTable; track $index) {
                    <th [colSpan]="getColSpan(stat, dashboardCard.card_id)" class="px-4 text-center border-r border-gray-300">{{ stat }}</th>
                }
            </tr>
        </thead>
        <tbody>
            <!-- Riga MEDIA -->
            @if (dashboardCard.card_id !== 'TABLE_LINEUP_TEAM') {
                <tr class="border-b border-gray-200 bg-gray-100 font-semibold">
                    <td class="px-4 py-2 border-r border-gray-300">Media</td>
                    @if (dashboardCard.card_id === 'TABLE_LINEUP_TEAM') {
                        <td class="text-center px-4 py-2 border-r border-gray-300">{{ 0 }}</td>
                    }
                    @for (stat of statTable; track $index) {
                        <td class="text-center px-4 py-2 border-r border-gray-300">{{ avgRow[stat] }}</td>
                        @if (dashboardCard.card_id === 'TABLE_GAME_LINEUP' || dashboardCard.card_id === 'TABLE_GAME_TEAM') {
                            <td class="text-red-600 text-center px-4 py-2 border-r border-gray-300">{{ avgRow[`${stat}o`] }}</td>
                            @if (stat === 'points') {
                                <td class="text-red-600 text-center px-4 py-2 border-r border-gray-300">{{ getPlusMinus(avgRow[stat], avgRow[`${stat}o`]) }}</td>
                            }
                        }
                    }
                </tr>
            }

            <!-- Dati delle righe -->
            @for (row of rows; track $index) {
            <tr class="cursor-pointer hover:bg-gray-100" [routerLink]="getRouterLinkTable(row, dashboardCard.card_id)" 
                                                         [queryParams]="getQueryParams(row, dashboardCard.card_id)">
                <td class="whitespace-nowrap px-4 py-2 border-r border-gray-300">
                    <div class="flex flex-row items-center justify-start gap-2">
                        @if (dashboardCard.card_id !== 'TABLE_LINEUP_TEAM') {
                            <div [ngClass]="{ 'text-green-500': row.win, 'text-red-500': row.win === false }">{{ row.description }}</div>
                        }
                        @else {
                            <div class="flex flex-row">
                                <img class="w-10 h-10 rounded-full" [src]="row.player1.logo_url"
                                    [title]="row.player1.name + ' ' + row.player1.surname">
                                <img class="w-10 h-10 rounded-full" [src]="row.player2.logo_url"
                                    [title]="row.player2.name + ' ' + row.player2.surname">
                                <img class="w-10 h-10 rounded-full" [src]="row.player3.logo_url"
                                    [title]="row.player3.name + ' ' + row.player3.surname">
                                <img class="w-10 h-10 rounded-full" [src]="row.player4.logo_url"
                                    [title]="row.player4.name + ' ' + row.player4.surname">
                                <img class="w-10 h-10 rounded-full" [src]="row.player5.logo_url"
                                    [title]="row.player5.name + ' ' + row.player5.surname">
                            </div>
                        }
                    </div>
                </td>
                @if (dashboardCard.card_id === 'TABLE_LINEUP_TEAM') {
                    <td class="text-center px-4 py-2 border-r border-gray-300">{{ row.minutes_played.toFixed(0) }}</td>
                }
                @for (stat of statTable; track $index) {
                    <td class="text-center px-4 py-2 border-r border-gray-300">{{ formula(stat, row) }}</td>
                    @if (dashboardCard.card_id === 'TABLE_GAME_LINEUP' || dashboardCard.card_id === 'TABLE_GAME_TEAM') {
                        <td class="text-red-600 text-center px-4 py-2 border-r border-gray-300">{{ formula(stat, row, [], true) }}</td>
                        @if (stat === 'points') {
                            <td class="text-red-600 text-center px-4 py-2 border-r border-gray-300">{{ getPlusMinus(row[stat], row[`${stat}o`]) }}</td>
                        }    
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</div>
}