@if (dashboardCard.card_id?.substring(0,5) !== 'TABLE'){
    <div echarts [options]="chartOption" [autoResize]="true" class="w-full h-full"></div>
}
@else{
    <table class="lba-table">
        <thead>
            <tr>
                <th>Items</th>
                @for (stat of statTable; track $index) {
                    <th>{{stat}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of rows; track $index) {
                <tr>

                    <td>
                        <div class="flex flex-row items-center justify-end gap-2">
                            <div>{{ row.description }}</div>
                        </div>
                    </td>
                    @for (stat of statTable; track $index) {
                        <td>{{ row[stat] }}</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
